<div class="customer">
  <p>
    <strong>Full Name:</strong>
    <%= customer.fullname %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= customer.phonenumber %>
  </p>

 <% if customer.emailaddress != '' %>
  <p>
    <strong>Email Address:</strong>
    <%= customer.emailaddress %>
  </p>
 <% end %>

 <p>
   <strong>Notes:</strong>
   <%= customer.notes %>
 </p>


  <p>
    <%= image_tag customer.image %>
  </p>
</div>
